# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 Some of the key takeaways from the course: 
 
 1. List popular languages for Data Science
 2. List popular libraries for Data Science
 3. Remember how to use arithmetic expressions

Some of the popular languages that Data Scientists use are:

- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:

- matplotlib
- numpy
- pandas

Data Science Tools:
    
| N | Tools |
|:-----------|:----------|
| 1 | GitHub |
| 2 | Jupyter Notebooks |
| 3 | Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Eduardo Coelho